whosin.json
[
    {
        "id": "64154cab.0655c4",
        "type": "tab",
        "label": "whos in flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5537186.0a222",
        "type": "inject",
        "z": "64154cab.0655c4",
        "name": "Retrieve status",
        "topic": "",
        "payload": "go",
        "payloadType": "str",
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 138,
        "y": 66,
        "wires": [
            [
                "c42a82b8.b9c7b"
            ]
        ]
    },
    {
        "id": "c42a82b8.b9c7b",
        "type": "cloudant in",
        "z": "64154cab.0655c4",
        "name": "Get All Documents",
        "cloudant": "",
        "database": "dalek",
        "service": "who-is-in-cloudantNoSQLDB",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 200,
        "y": 136,
        "wires": [
            [
                "7f983c3e.4466d4"
            ]
        ]
    },
    {
        "id": "7f983c3e.4466d4",
        "type": "split",
        "z": "64154cab.0655c4",
        "name": "Split into messages",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "_id",
        "x": 247,
        "y": 193,
        "wires": [
            [
                "178a2c85.ed0fe3"
            ]
        ]
    },
    {
        "id": "f473729f.8eb04",
        "type": "switch",
        "z": "64154cab.0655c4",
        "name": "Split using document id",
        "property": "route",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "person1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "person2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "person3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 559,
        "y": 339,
        "wires": [
            [
                "86c6c62d.2313a8"
            ],
            [
                "56acd9e0.6a48e8"
            ],
            [
                "3a492d6.00e7cd2"
            ]
        ]
    },
    {
        "id": "86c6c62d.2313a8",
        "type": "ui_switch",
        "z": "64154cab.0655c4",
        "name": "",
        "label": "person1",
        "tooltip": "",
        "group": "fa8ca374.2007f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "home",
        "oncolor": "#009900",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "public",
        "offcolor": "silver",
        "x": 849,
        "y": 325,
        "wires": [
            []
        ]
    },
    {
        "id": "56acd9e0.6a48e8",
        "type": "ui_switch",
        "z": "64154cab.0655c4",
        "name": "",
        "label": "person2",
        "tooltip": "",
        "group": "fa8ca374.2007f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "home",
        "oncolor": "#009900",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "public",
        "offcolor": "silver",
        "x": 854,
        "y": 384,
        "wires": [
            []
        ]
    },
    {
        "id": "3a492d6.00e7cd2",
        "type": "ui_switch",
        "z": "64154cab.0655c4",
        "name": "",
        "label": "person3",
        "tooltip": "",
        "group": "fa8ca374.2007f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "home",
        "oncolor": "#009900",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "public",
        "offcolor": "silver",
        "x": 849,
        "y": 446,
        "wires": [
            []
        ]
    },
    {
        "id": "178a2c85.ed0fe3",
        "type": "change",
        "z": "64154cab.0655c4",
        "name": "Move \"_id\" to \"route\" and strip payload to \"in_house\"",
        "rules": [
            {
                "t": "set",
                "p": "route",
                "pt": "msg",
                "to": "payload._id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.in_house",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 423,
        "y": 247,
        "wires": [
            [
                "f473729f.8eb04"
            ]
        ]
    },
    {
        "id": "fa8ca374.2007f",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "d0f06cad.e1337",
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "d0f06cad.e1337",
        "type": "ui_tab",
        "z": "",
        "name": "Who's at home?",
        "icon": "home",
        "disabled": false,
        "hidden": false
    }
]